@page "/register"
@rendermode InteractiveServer

<div class="container">
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <p class="error-message">@ErrorMessage</p>
    }
    <h3>Register</h3>

    <EditForm Model="@registerModel" OnValidSubmit="@( async () => await HandleRegister())" FormName="RegisterForm" class="register-form">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="username">Username:</label>
            <InputText id="username" @bind-Value="registerModel.Username" class="input-field" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <InputText type="password" id="password" @bind-Value="registerModel.Password" class="input-field" />
        </div>
        <div class="button-container">
            <button type="submit" class="submit-button">Register</button>
        </div>
    </EditForm>
    <div class="login-prompt">
        <p>Hast du bereits ein Konto?</p>
        <p @onclick="Login" class="login-link">Login</p>
    </div>
</div>