.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-button:hover {
        background-color: #45a049;
    }

.action-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}



    .action-button:hover {
        background-color: #0056b3;
    }

.data-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.search-box {
    margin-bottom: 20px;
}

.data-item {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-field {
    flex: 1;
    text-align: center;
}

.toggle-button, .action-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .toggle-button:hover {
        background-color: #0056b3;
    }

.delete-button {
    text-align: center;
    margin-top: 33px;
}
