@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.bundle.scp.css';

/* _content/PasswordSafeUI/Components/Login.razor.rz.scp.css */
.container[b-8x4o7clzmu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message[b-8x4o7clzmu] {
    color: red;
}

.login-form[b-8x4o7clzmu] {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group[b-8x4o7clzmu] {
    margin-bottom: 15px;
}

    .form-group label[b-8x4o7clzmu] {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

.input-field[b-8x4o7clzmu] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-container[b-8x4o7clzmu] {
    display: flex;
    justify-content: center;
}

.submit-button[b-8x4o7clzmu] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-button:hover[b-8x4o7clzmu] {
        background-color: #45a049;
    }

.login-prompt[b-8x4o7clzmu] {
    display: flex;
    justify-content: left;
    gap: 5px;
}

.register-link[b-8x4o7clzmu] {
    text-decoration: underline;
    cursor: pointer;
    color: #007BFF;
    transition: color 0.3s ease;
}

    .register-link:hover[b-8x4o7clzmu] {
        color: #0056b3;
    }
/* _content/PasswordSafeUI/Components/Pages/Home.razor.rz.scp.css */
body[b-3yxnh0tur7], html[b-3yxnh0tur7] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container[b-3yxnh0tur7] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .container h1[b-3yxnh0tur7] {
        margin: 0;
        font-size: 2rem;
        color: #333;
    }

.buttons[b-3yxnh0tur7] {
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 10px;
    margin-top: 20px;
}

    .buttons button[b-3yxnh0tur7] {
        height: 50px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .buttons button:hover[b-3yxnh0tur7] {
            background-color: #0056b3;
        }

        .buttons button:active[b-3yxnh0tur7] {
            background-color: #004494;
        }

/* _content/PasswordSafeUI/Components/Register.razor.rz.scp.css */
.container[b-5wnx4r6noa] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message[b-5wnx4r6noa] {
    color: red;
}

.register-form[b-5wnx4r6noa] {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group[b-5wnx4r6noa] {
    margin-bottom: 15px;
}

    .form-group label[b-5wnx4r6noa] {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

.input-field[b-5wnx4r6noa] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-container[b-5wnx4r6noa] {
    display: flex;
    justify-content: center;
}

.submit-button[b-5wnx4r6noa] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-button:hover[b-5wnx4r6noa] {
        background-color: #45a049;
    }

.login-prompt[b-5wnx4r6noa] {
    display: flex;
    justify-content: left;
    gap: 5px;
}

.login-link[b-5wnx4r6noa] {
    text-decoration: underline;
    cursor: pointer;
    color: #007BFF;
    transition: color 0.3s ease;
}

    .login-link:hover[b-5wnx4r6noa] {
        color: #0056b3;
    }
/* _content/PasswordSafeUI/Components/UserPage.razor.rz.scp.css */
.container[b-8g0zy84g5h] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form[b-8g0zy84g5h] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.input-field[b-8g0zy84g5h] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button[b-8g0zy84g5h] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-button:hover[b-8g0zy84g5h] {
        background-color: #45a049;
    }

.action-buttons[b-8g0zy84g5h] {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}



    .action-button:hover[b-8g0zy84g5h] {
        background-color: #0056b3;
    }

.data-section[b-8g0zy84g5h] {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.search-box[b-8g0zy84g5h] {
    margin-bottom: 20px;
}

.data-item[b-8g0zy84g5h] {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-field[b-8g0zy84g5h] {
    flex: 1;
    text-align: center;
}

.toggle-button[b-8g0zy84g5h], .action-button[b-8g0zy84g5h] {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .toggle-button:hover[b-8g0zy84g5h] {
        background-color: #0056b3;
    }

.delete-button[b-8g0zy84g5h] {
    text-align: center;
    margin-top: 33px;
}
