@page "/"
@inject NavigationManager nav
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>PasswordSafe</h1>
<button @onclick=ToLogin>Login</button>
<button @onclick=ToRegister>Registrieren</button>

@code {
    public void ToLogin()
    {
        nav.NavigateTo("/login");
    }

    public void ToRegister()
    {
        nav.NavigateTo("register");   
    }
}