@page "/"
@using PasswordSafeUI.Components.Common
@inject NavigationManager nav
@inject UserState UserState
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh;">
    <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <h1>PasswordSafe</h1>
        <div style="display: flex; flex-direction: column; width: 100%; gap: 10px;">
            <button style="height: 50px;" @onclick="ToLogin">Login</button>
            <button style="height: 50px;" @onclick="ToRegister">Registrieren</button>
        </div>
    </div>
</div>


@code {
    public void ToLogin()
    {
        nav.NavigateTo("/login");
    }

    public void ToRegister()
    {
        nav.NavigateTo("register");
    }

    protected async override Task OnInitializedAsync()
    {
        if (UserState.CurrentUser != null)
        {
            nav.NavigateTo($"/Home/{UserState.CurrentUser.Username}", true);
        }
    }
}