@page "/"
@using PasswordSafeUI.Components.Common
@inject NavigationManager nav
@inject UserState UserState
@rendermode InteractiveServer



<PageTitle>PasswordSafe</PageTitle>
<div class="container">
    <h1>PasswordSafe</h1>
    <div class="buttons">
        <button @onclick="ToLogin">Login</button>
        <button @onclick="ToRegister">Registrieren</button>
    </div>
</div>

@code {
    public void ToLogin()
    {
        nav.NavigateTo("/login");
    }

    public void ToRegister()
    {
        nav.NavigateTo("register");
    }

    protected async override Task OnInitializedAsync()
    {
        if (UserState.CurrentUser != null)
        {
            nav.NavigateTo($"/Home/{UserState.CurrentUser.Username}", true);
        }
    }
}